.container {
    margin: 0 auto;
    border: 10px solid;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
}

#main {
    border-color: blue;
}

#header {
    border-color: lightseagreen;
    margin-bottom: 1.5em;
}

#form {
    border-color: firebrick;
    margin-bottom: 1.5em;
}

#app {
    margin-top: 2em;
    width: 1000px;
}

#anagram-list {
    border-color:salmon;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#anagram {
    border-color: darkorchid !important;
    border: 5px solid;
    width: 200px;
}